/***************************
GENERAL 
***************************/
.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 1.5em;
  padding-right: 1.5em; */
}

.span_color {
  color: #2196F3;
}

.border-wrapper {
  border-radius: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 5rem;
}

p {
  line-height: 1.2;
  font-size: 12px;
}

li {
  font-size: 12px;
}

/***************************
Navigation 
***************************/
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mobile_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.mobile {
  justify-self: end;
  align-self: center;
  padding-right: 2rem;
}

.logo {
  display: grid;
  justify-self: start;
  align-self: center;
  grid-auto-flow: column;
  padding-left: 2rem;
  font-size: 20px;
}

.logo_link {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 700;
}

/***************************
PAGE HEADER  
***************************/
.page-header {
  background-color: #2196F3;
  padding-bottom: 20px;
}

.page-header_photo {
  max-width: 200px;
  margin: 0 auto;
}

.page-header_title {
  margin-top: 20px;
  font-size: 30px;
  /* font-size: 44px; */
  line-height: 1.2em;
  color: #fff;
}

.page-header_subtitle {
  margin-top: 8px;
  font-size: 15px;
  /* font-size: 18px; */
  color: #fff;
  margin-bottom: 1rem;
}

.page-header_social-links > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* width: 36px;
  height: 36px; */
  border-radius: 24px;
  background-color:#fff;
  margin: 0 1px;
  text-align: center;
}

.page-header_social-links > a > i {
  line-height: 30px;
  font-size: 20px;
  /* line-height: 36px;
  font-size: 26px; */
}

/***************************
PAGE BODY  
***************************/
.page-body {
  background-color: #f1f1f1;
}

.page-body_inner {
  padding: 1rem;
  /* padding: 3rem; */
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
}

.page-body_contact {
  margin-top: 1rem;
}

.page-body_title {
  margin-bottom: 1rem;
  font-size: 14px;
  /* font-size: 22px; */
}

.page-body_contact > ul > li {
  margin-top: 1rem;
}

.resume-btn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.8;
  padding: 0 1rem;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color:#fff;
  color:#212121;
  box-shadow: 0 2px 4px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.3);
}

.email_contact {
  display: inline-block;
  min-width: 60px;
  font-size: 12px;
  /* font-size: 14px; */
}

.phone_contact {
  display: inline-block;
  min-width: 60px;
  font-size: 12px;
  /* font-size: 14px; */
}


@media screen and (min-width: 790px) {

  .page-body_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .page-body_contact {
    justify-self: start;
    align-self: center;
    grid-auto-flow: column;
    margin-top: 1rem;
  }

  .page-body_content {
    justify-self: start;
    align-self: center;
    grid-auto-flow: column;
  }

}


/***************************
PORTFOLIO 
***************************/
.portfolio {
  margin-top: 2rem;
}

.portfolio_heading {
  background-color: #2196F3;
  padding: 2rem;
}

.portfolio_title {
  text-transform: uppercase;
  color:#ffffff;
  font-size: 26px;
  /* font-size: 44px; */
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.portfolio_content {
  padding-top: 2rem;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.portfolio_item {
  max-width: 19rem;
  margin: 0 auto;
}

.portfolio_img {
  display: block;
  height: 15rem;
  width: 13rem;
}

.portfolio_img-container {
  height: 10rem;
}

.portfolio_item-info {
  margin-top: 0;
  background: blue;
  width: 100%;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.portfolio-btn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.8;
  padding: 0 1rem;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
  color: #212121;
  box-shadow: 0 2px 4px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.3);
  width: 50%;
}